<div class="bg-dark text-white p-3 vh-100" style="width: 250px;">
    <h5 class="mb-4">FinGuard</h5>
  
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a routerLink="/" class="nav-link text-white">Dashboard</a>
      </li>
      <li class="nav-item">
        <a routerLink="/transactions" class="nav-link text-white">Transactions</a>
      </li>
      <li class="nav-item">
        <a routerLink="/fraud-alerts" class="nav-link text-white">Fraud Alerts</a>
      </li>
      <li class="nav-item">
        <a routerLink="/rules" class="nav-link text-white">Rules</a>
      </li>
      <li class="nav-item">
        <a routerLink="/dlq" class="nav-link text-white">DLQ</a>
      </li>
    </ul>
  </div>